.contacto__footer{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

     //----TITULO----//
    
     .contacto__titulo{
        @include flex(center,stretch);
        font-family: $letra-titulo;
        font-size: 2.3rem;
        color: purple;
        text-shadow: 0 0 5px#000;
        border-bottom: 1px solid #222;
        box-shadow: 0 0 10px #000;
        padding-top: 30px;
        padding-bottom: 12px;
        width: 100vw;
        
    }

    //----FORMULARIO----//

    .form{
        @include flex(center,center);
        flex-direction: column;
        padding-top: 50px;

            &__label{

                align-self: flex-start;
                padding: 20px;
                padding-left: 0;
                font-family: $letra-texto;
                font-size: 1.6rem;
                color: purple;
                text-shadow: 0 0 5px#000;
            }

            &__input{
                width: 80vw;
                min-width: 300px;
                max-width: 800px;
                background-color: rgba(214, 128, 214, 0.705);
                color: #000;
                height: 45px;
                padding: 25px;
                font-family: $letra-texto;
                font-size: 1.3rem;
                @include flex(center,center);
                max-height: 200px;
                outline: none;
                border: none;
                border-bottom:2px solid purple;

                &:focus{
                    background: linear-gradient(to bottom, transparent, purple);
                }
                

            }

            &__textarea{
                width: 80vw;
                min-width: 300px;
                max-width: 800px;
                background-color: rgba(214, 128, 214, 0.705);
                color: #000;
                min-height: 50px;
                padding: 25px;
                font-family: $letra-texto;
                font-size: 1.3rem;
                @include flex(center,center);
                resize: vertical;
                max-height: 200px;
                outline: none;
                border: none;
                border-bottom:2px solid purple;

                &:focus{
                    background: linear-gradient(to bottom, transparent, purple);
                }
            }

            &__boton{
                max-width: 150px;
                width: 40vw;
                height: 50px;
                padding: 0px;
                margin-top: 30px;
                font-family: $letra-texto;
                font-size: 1.3rem;
                color: purple;
                text-shadow: 0 0 5px#000;
                background-color: rgba(214, 128, 214, 0.705);
                border: none;
                border-radius: 10px;
                @include flex(center,center);

                &:active{
                    color: #000;
                    background: linear-gradient(to bottom, transparent, purple);
                }

            }
        
    }

    .redes{
        @include flex(center,center);
        flex-direction: row;
        width: 50vw;
        gap: 50px;
        padding-top: 30px;
        
        img{
            max-height: 50px;
            min-width: 50px;
        }

    }

}