.header__conocimientos{
    background-color: #000;

    .navbar{
        .container-fluid{
            align-items: start;
            // margin-top: 20px;
            // margin-bottom: 200px;
            min-width: 330px;
            background-color: #000;
                    
            .logo__header{
               
                width: 8vw;
                min-width: 45px;
            }
                    
            .navbar-toggler{
                font-size: 1.5rem;
                background-color: #fff;
            }
            
            .navbar-collapse{
                margin-top: 15px;
                        
                ul{
                    li{
                        padding: 10px;
                            
                        .nav-link{
                            color: #fff;
                            text-shadow: 0px 0px 10px rgb(193, 214, 214), 0px 0px 20px rgb(193, 214, 214), 0px 0px 40px rgb(193, 214, 214);
                            font-size: 1rem;
                            font-family: $letra-texto;
                
                            &:hover{
                                color: purple;
                                text-shadow: 3px 3px 6px #616060;
                            }
                        }
                    }
                }
            }
         }
    
    }
}

.conocimientos__main{
    background-color: #000;
    height: 430vh;
}

//----TITULO----//

.conocimientos{
    &__h2{
        font-family: $letra-titulo;
        font-size: 2.8rem;
        text-shadow: 3px 3px 6px #616060;
        color: purple;

        display: flex;
        justify-content: center;
        padding: 30px;
    }
}

.conocimientos__recuadro{
    @include flex(center,center);

    //----CAJA CONOCIMIENTOS----//

    .conocimientos__art{
        box-shadow: 0 0 10px purple;
        background-color: #fff;
        border: 5px solid rgb(58, 6, 58);
        border-radius: 30px;
    
        height: 415vh;
        width: 90vw;
        font-family:$letra-texto;
        font-size: 1.02rem;
    
        @include flex(space-evenly,stretch);
        flex-wrap: wrap;

        //----TITULO LENGUAJES----//

        h3{
            color: purple;
            text-shadow: 0 0 5px#000;
            font-size: 1.9rem;
            margin: 15px;
        }

        //----HTML----//

        .conocimientos__lenguaje1{
            @include flex(center,center);
            flex-direction: column;
            text-align: justify;
            flex-wrap: wrap;
        
            padding: 5px;
            width: 44.56vw;
            min-width: 250px;
            max-width: 450px;
            margin-top: 30px;

            .lenguaje1__caja-img{
                width: 44.56vw;
                min-width: 250px;
                max-width: 450px;

                img{
                    height: 25vh;
                    width: 44.56vw;
                    min-width: 250px;
                    max-width: 450px;
                    object-fit: cover;
                }
            }

            .lenguaje1__p{
                font-size: 1.5rem;
                text-align: justify;
                font-family: $letra-texto;
                color: rgb(61, 60, 60);
                text-shadow: 2px 2px 3px#616060;
            
                margin-top: 10px;
                height: 40vh;
                width: 44.56vw;
                min-width: 240px;
                max-width: 440px;
                
            }

        }
             
        //----CSS----//

        .conocimientos__lenguaje2{
            @extend.conocimientos__lenguaje1;
            margin-top: 170px;
           
            .lenguaje2__caja-img{
                @extend.lenguaje1__caja-img;

                img{
                    @extend img;
                }
            }

            .lenguaje2__p{
                @extend.lenguaje1__p;
            }

        }

        //----JAVASCRIPT----//

        .conocimientos__lenguaje3{
            @extend.conocimientos__lenguaje1;
            margin-top: 230px;
            
            .lenguaje3__caja-img{
                @extend.lenguaje1__caja-img;

                img{
                    @extend img;
                }
            }

            .lenguaje3__p{
                @extend.lenguaje1__p;
            }
        }

        //----REACT----//

        .conocimientos__lenguaje4{
            @extend.conocimientos__lenguaje1;
            margin-top: 110px;

            .lenguaje4__caja-img{
                @extend.lenguaje1__caja-img;

                img{
                    @extend img;
                }
            }

            .lenguaje4__p{
                @extend.lenguaje1__p;
            }
        }

        
    }
}

//----RESPONSIVE TABLET----//

@media (min-width:576px){

    .header__conocimientos{

        .navbar{

            .container-fluid{
                margin-bottom: 0;
    
                .navbar-collapse{
                    ul{
                        @include flex(center,stretch);
                        gap: 12px;
                        margin-right: 2px;
                
                        li{
                            padding: 0;
                
                            .nav-link{
                                display: block;
                                font-size: 1.09rem;
            
                            }
                        }
                    }
                }
            }
        }
    }

    .conocimientos__main{
        height: 268vh;

        .conocimientos{
            padding: 50px;

            &__h2{
                font-size: 2.5rem;
            }
        }
    }
    .conocimientos__recuadro{

        .conocimientos__art{

            height: 250vh;

            h3{
                font-size: 2.4rem;
                margin: 30px;
            }

            .conocimientos__lenguaje1{
                width: 40vw;
    
                .lenguaje1__caja-img{
                    width: 40vw;
                    @include width(100px,300px);
                    @include flex(center,center);
    
                    img{
                        width: 40vw;
                        @include width(100px,230px);
                    }
                }
    
                .lenguaje1__p{
                    width: 35vw;
                    line-height: 35px;
                    @include width(100px,230px);
                    font-size: 1.7rem;
                    font-family: $letra-texto;
                    color: rgb(61, 60, 60);
                    text-shadow: 2px 2px 3px#616060;
                }
            }

            .conocimientos__lenguaje2{
                margin-top: 30px;

            }
    
            
            .conocimientos__lenguaje3{
                margin-top: 60px;
                
            }
    
            .conocimientos__lenguaje4{
                margin-top: 58px;
            }
        }
    }
}

//----RESPONSIVE DESKTOP----//

@media(min-width:1200px){
    .header__conocimientos{

        .navbar{

            .container-fluid{
                .logo-header{
                    margin-left: 50px;
                    max-width: 80px;
                }
            
                .navbar-collapse{
                    ul{
                        gap: 50px;
                        margin-right: 40px;
                
                        li{
                            .nav-link{
                                font-size: 2rem;
                        
                            }
                        }
                    }
                }
            }
        }
    }

    .conocimientos__main{
        height: 150vh;
        
        .conocimientos__h2{
            padding: 75px;
            font-size: 3rem;
        }

      .conocimientos__recuadro{

        .conocimientos__art{
            @include flex(center,start);
            height: 120vh;

            .conocimientos__lenguaje1{
                width: 20vw;
    
                .lenguaje1__caja-img{
                    width: 20vw;
                    @include width(100px,200px);
                    @include flex(center,center);
    
                    img{
                        width: 20vw;
                        @include width(100px,200px);
                    }
                }
    
                .lenguaje1__p{
                    width: 15vw;
                    line-height: 30px;
                    @include width(195px,200px);
                    font-size: 1.7rem;
                    font-family: $letra-texto;
                    color: rgb(61, 60, 60);
                    text-shadow: 2px 2px 3px#616060;
                }
            }

            .conocimientos__lenguaje3{
                margin-top: 30px;
            }
    
            .conocimientos__lenguaje4{
                margin-top: 30px;
           }
        }
      } 
    }       
}