main{
    background-color: #000;
    height: 360vh;
}

//----TITULO----//

.conocimientos{
    &__h2{
        font-family: $letra-titulo;
        font-size: 2.5rem;
        text-shadow: 0 0 3px rgb(207, 8, 197);
        color: purple;

        display: flex;
        justify-content: center;
        padding: 30px;
    }
}

.conocimientos__recuadro{
    @include flex(center,center);

    //----CAJA CONOCIMIENTOS----//

    .conocimientos__art{
        box-shadow: 0 0 10px purple;
        background-color: #fff;
        border: 3px solid rgb(58, 6, 58);
        border-radius: 30px;
    
        height: 340vh;
        width: 90vw;
        font-family:$letra-texto;
        font-size: 1.02rem;
    
        @include flex(space-evenly,stretch);
        flex-wrap: wrap;

        //----TITULO LENGUAJES----//

        h3{
            color: purple;
            text-shadow: 0 0 5px#000;
            font-size: 1.9rem;
            margin: 15px;
        }

        //----HTML----//

        .conocimientos__lenguaje1{
            @include flex(stretch,center);
            flex-direction: column;
            text-align: justify;
            flex-wrap: wrap;
        
            padding: 5px;
            width: 44.56vw;
            min-width: 250px;
            max-width: 450px;
            margin-top: 50px;

            .lenguaje1__caja-img{
                width: 40vw;
                min-width: 250px;
                max-width: 450px;

                img{
                    height: 25vh;
                    width: 40vw;
                    min-width: 250px;
                    max-width: 450px;
                    object-fit: cover;
                }
            }

            .lenguaje1__p{
                font-size: 1.5rem;
                text-align: justify;
                color: #000000;
            
                margin-top: 10px;
                height: 40vh;
                width: 50vw;
                min-width: 240px;
                max-width: 440px;
                
            }

        }
             
        //----CSS----//

        .conocimientos__lenguaje2{
            @extend.conocimientos__lenguaje1;
           
            .lenguaje2__caja-img{
                @extend.lenguaje1__caja-img;

                img{
                    @extend img;
                }
            }

            .lenguaje2__p{
                @extend.lenguaje1__p;
            }

        }

        //----JAVASCRIPT----//

        .conocimientos__lenguaje3{
            @extend.conocimientos__lenguaje1;
            margin-top: 100px;
            
            .lenguaje3__caja-img{
                @extend.lenguaje1__caja-img;

                img{
                    @extend img;
                }
            }

            .lenguaje3__p{
                @extend.lenguaje1__p;
            }
        }

        //----REACT----//

        .conocimientos__lenguaje4{
            @extend.conocimientos__lenguaje1;
            margin-top: -30px;

            .lenguaje4__caja-img{
                @extend.lenguaje1__caja-img;

                img{
                    @extend img;
                }
            }

            .lenguaje4__p{
                @extend.lenguaje1__p;
            }
        }

        
    }
}

@media (min-width:600px){}
        