
.inicio{
    width: 100vw;
    height: 100vh;
    background-image:url(../imagenes/programador.jpg);
    background-size: cover;
    background-position: center;

    @include flex(start,center);
    // flex-wrap: wrap;
    flex-direction: column;

    //----MENU HAMBURGUESA----//

    .header__index{

        .navbar{
            .container-fluid{
                align-items: start;
                margin-top: 20px;
                margin-bottom: 200px;
                min-width: 410px;
                        
                .logo__header{
                   
                    width: 8vw;
                    min-width: 45px;
                }
                        
                .navbar-toggler{
                    font-size: 1.5rem;
                    background-color: #fff;
                }
                
                .navbar-collapse{
                    margin-top: 15px;
                            
                    ul{
                        li{
                            padding: 10px;
                                
                            .nav-link{
                                color: $color-letra;
                                text-shadow: 0px 0px 10px rgb(193, 214, 214), 0px 0px 20px rgb(193, 214, 214), 0px 0px 40px rgb(193, 214, 214);
                                font-size: 1rem;
                                font-family: $letra-texto;
                    
                                &:hover{
                                    color: rgb(8, 8, 68);
                                }
                            }
                        }
                    }
                }
             }
        
        }
    }


//----TITULO INICIO----//

 .titulo {
    
    @include flex(center,center);
    margin-bottom: 150px;
    margin-top: 30px;
    font-family: $letra-texto;
    color: $color-letra;
    text-shadow: 2px 2px 10px rgb(49, 161, 146), 2px 2px 20px rgb(193, 214, 214), 2px 2px 40px rgb(193, 214, 214);
    line-height: 300px;
    text-align: center;
    font-size: 1.5rem;
    .titulo__span{
        font-size: 4.3rem;
        font-family: $letra-titulo
    }
 }

    .footer__index{
        @include flex(center,center);
        color: #fff;
        margin-top: 100px;
        min-width: 269px;
    }
}



     //----RESPONSIVE TABLET----//

@media (min-width:576px){
    .inicio{

        .header__index{

            .navbar{

                .container-fluid{
                    margin-bottom: 0;
                    margin-bottom: 100px;
        
                    .navbar-collapse{
                        ul{
                            @include flex(center,stretch);
                            gap: 12px;
                            margin-right: 2px;
                    
                            li{
                                padding: 0;
                    
                                .nav-link{
                                    display: block;
                                    font-size: 1.09rem;
                
                                }
                            }
                        }
                    }
                }
            }
        }
        
        
        .titulo{

            margin-top: 120px;
            h1{
                margin-bottom: 0;
                font-size: 1.8rem;
                line-height: 80px;
    
                .titulo__span{
                    font-size: 5.4rem;
                }
            }
        
        }
    }

}

    //----RESONSIVE DESKTOP----//

@media (min-width:1000px){
    
    .header__index{

        .navbar{

            .container-fluid{
                .logo-header{
                    margin-left: 50px;
                    max-width: 80px;
                }
            
                .navbar-collapse{
                    ul{
                        gap: 50px;
                        margin-right: 40px;
                
                        li{
                            font-size: 2rem;
                            .nav-link{
                                font-size: 3rem;
                        
                            }
                        }
                    }
                }
            }
        }
    }

    .titulo{
        h1{
            margin-bottom: 0;
        }
    }
}