.art_sobremi{
    background-position:center;
    background-image: url(../imagenes/codigos3.jpg);
    height: 100vh;
    background-size: cover;

    @include flex(center,center);

    .cv{
        border-radius: 30px;
        background-color: #0009;
        box-shadow: 2px 2px 10px rgb(49, 161, 146), 2px 2px 20px rgb(193, 214, 214), 2px 2px 40px rgb(193, 214, 214);
        width: 80vw;
        min-width: 258px;
        max-width: 318px;
        height: 91vh;
        padding: 5v px;
        /* margin-bottom: 70px; */
    
        @include flex(center,center);
        flex-direction: column;

        &__p{
            width: 60vw;
            min-width: 204px;
            max-width: 260px;
        
            margin-top: 25px;
            text-align: justify;
            color: $color-letra;
            font-size: 1.1rem;
            font-family:$letra-texto;
            text-shadow: 0px 0px 10px rgb(49, 161, 146), 0px 0px 20px rgb(193, 214, 214), 0px 0px 40px rgb(193, 214, 214);
        }

        &__caja--img{
            text-align: center;
            /* margin-right: 5px; */
            width: 40vw;
        
            @include flex(stretch,center);
            flex-direction: column;

            img{
                min-width: 250px;
                border-radius: 30px;
                /* height: 250px; */
            }

            .a_img{
                color: $color-letra;
                background-color: #1b7ab9;
                text-shadow:0px 0px 10px rgb(49, 161, 146), 0px 0px 20px rgb(193, 214, 214),0px 0px 40px rgb(193, 214, 214);
                box-shadow:  0px 0px 10px rgb(49, 161, 146), 0px 0px 20px rgb(193, 214, 214), 0px 0px 40px rgb(193, 214, 214);
            
                min-width: 115px;
                margin-top: 20px;
                padding: 12px;
                border-radius: 10px;
            
                @include flex(center,center);
            }
        
        }
    }
}

@media (min-width:600px){
    .art_sobremi{
        justify-content:center;
        height: 100vh;

        .cv{
            align-items: center;
            justify-content: center;
            /* margin-top: 30px; */
            height: 97vh;
            width: 70vw;
            max-width: 600px;

            &__caja--img{
                /* width: 50vw; */
                max-width: 339px;
        
                margin-top: 30px;
                /* margin-bottom: 30px; */

                .a_img{
                    width: 25vw;
                    min-width: 160px;
                    max-width: 225px;
                    height: 5vh;
                    text-align: center;
                    font-size: 1.4rem;
                }

                img{
                    min-width: 315px;
                }

            }

            &__p{
                width: 50vw;
                min-width: 375px;
                max-width: 423px;
                font-size: 1.5rem;
        
                margin-top: 30px;
            }
        }
    }
}

@media (min-width:1200px){
    .cv{
        flex-direction: row;
        height: 85vh;
        width: 100vw;
        min-width: 1200px;
        max-width: 1200px;
        justify-content: center;
        // gap: 200px;

        &__caja--img{
            width: 30vw;
            // margin-left: 60px;

            img{
                margin-top: 100px;
                width: 25vw;
                max-width: 400px;
            }

            .a_img{
                margin-top: 40px;
                height: 7vh;
                text-align: center;
            }
        }

        &__p{
            align-self: center;
            margin-right: 110px;
            // font-size: 1.9rem;
            // max-width: 300px;
            margin-bottom: 120px;

            p{
                width: 42vw;
                font-size: 1.45rem;
                max-width: 537px;
            }
        }
    
    }
}