.body__trabajos{

    background-position:center;
    background-size: cover;
    background-image: url(../imagenes/trabajos.jpg);
    height: 150vh;

    .header__trabajos{

        .navbar{
            .container-fluid{
                align-items: start;
                min-width: 320px;
                        
                .logo__header{
                   
                    width: 8vw;
                    min-width: 45px;
                }
                        
                .navbar-toggler{
                    font-size: 1.5rem;
                    background-color: #fff;
                }
                
                .navbar-collapse{
                    margin-top: 15px;
                            
                    ul{
                        li{
                            padding: 10px;
                                
                            .nav-link{
                                color: #fff;
                                text-shadow: 0px 0px 10px rgb(49, 161, 146),0px 0px 10px rgb(49, 161, 146);
                                font-size: 1rem;
                                font-family: $letra-texto;
                    
                                &:hover{
                                    color: rgb(49, 161, 146);
                                }
                            }
                        }
                    }
                }
             }
        
        }
    }
    
    .main__trabajos{
        @include flex(center,center);
        flex-direction: column;
        height: 2350px;

        .art__trabajos{
    
            height: 2400px;
            width: 95vw;
             
            //----TITULO TRABAJOS----//
        
            .titulo__trabajos{
                color: #fff;
                font-family:$letra-titulo;
                text-align: center;
                text-shadow: 0px 0px 10px rgb(49, 161, 146),0px 0px 10px rgb(49, 161, 146);
                padding: 25px;

                h2{
                    font-size: 2.8rem;
                }
            }
        
            //----CONTENEDOR TRABAJOS----//
        
            .section__trabajos{
                flex-wrap: wrap;
                @include flex(center,center);
        
                height: 2250px;
                
                //----TRABAJO 1----//
        
                .section__1{
                    background-color: #111a;
                    border-radius: 20px;
                    box-shadow: 0px 0px 10px rgb(49, 161, 146);
        
                    width: 85vw;
                    @include width(270px,300px);
                    padding: 20px;
        
                    @include flex(center,center);
        
                    .trabajo__1{
                        width: 235px;
                        height: 1030px;
        
                        .trabajo__img1{
        
                            .img__1{
                                border-radius: 20px;
                            }
                        }
        
                        .trabajo__p1{
                            margin-top: 15px;
                            text-align: justify;
                            color: white;
                            text-shadow: 0px 0px 10px rgb(49, 161, 146),0px 0px 10px rgb(49, 161, 146);
                            font-family: $letra-texto;
                            font-size: 1.5rem;
                        }
                    }
                }
        
                 //----TRABAJO 2----//
        
                .section__2{
                    @extend.section__1;
                    margin-top: 30px;
        
                    .trabajo__2{
                        @extend.trabajo__1;
        
                        .trabajo__img2{
        
                            .img__2{
                                border-radius: 20px;
                            }
                        }
        
                        .trabajo__p2{
                            @extend.trabajo__p1;
                        }
                    }
                }
        
            }
        }
    }

    .footer__trabajos{
        @include flex(center,center);
        color: #fff;
        min-width: 269px;
        margin-top: 20px;
    }
}



    //----RESPONSIVE TABLET----//

@media(min-width:576px){

    .body__trabajos{
        height: 200vh;

        .header__trabajos{

            .navbar{
    
                .container-fluid{
                    margin-bottom: 0;
        
                    .navbar-collapse{
                        ul{
                            @include flex(center,stretch);
                            gap: 12px;
                            margin-right: 2px;
                    
                            li{
                                padding: 0;
                    
                                .nav-link{
                                    display: block;
                                    font-size: 1.09rem;
                
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .main__trabajos{
            height: 2450px;
            .art__trabajos{
                height: 2450px;
        
                .titulo__trabajos{
                    h2{
                        font-size: 2.5rem;
                        padding: 50px;
                    }
                    
                }
        
                .section__trabajos{
        
                    .section__1{
                        width: 93vw;
                        max-width: 581px;
                        height: 1050px;
        
                        .trabajo__1{
        
                            @include flex(center,center);
                            flex-direction: column;
                            margin-top: 15px;
                            width: 80vw;
                            @include width(500px,570px);
                            .trabajo__p1{
                                font-size: 1.8rem;
                                margin-top: 35px;
                                line-height: 42px;
                                width: 500px;
                            }
                        }
        
                    }
        
                    .section__2{
                        margin-top: 80px;
                    }
                }
            }
        }
    }
}

    //----RESPONSIVE DESKTOP----//

@media(min-width:1200px){

    .body__trabajos{

        height: 100vh;
        .header__trabajos{

            .navbar{
    
                .container-fluid{
                    .logo-header{
                        margin-left: 50px;
                        max-width: 80px;
                    }
                
                    .navbar-collapse{
                        ul{
                            gap: 50px;
                            margin-right: 40px;
                    
                            li{
                                font-size: 2rem;
                                .nav-link{
                                    font-size: 2rem;
                            
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .main__trabajos{
            height: 1270px;

            @include flex(center,center);
            flex-direction: column;
            .art__trabajos{
                height: 1270px;
        
                .titulo__trabajos{
                    
                    h2{
                        padding: 40px;
                        font-size: 3rem;
                    }    
                }
        
                .section__trabajos{
                    display: grid;
                    justify-items: center;
                    grid-template-columns: repeat(2,1fr);
                    height: 0;
        
                    .section__1{
                        align-items: start;
                        height: 1050px;
                        width: 45vw;
                        margin: auto;
        
                        .trabajo__1{
                            margin-top: 15px;
                            height: 1000px;
        
                            .trabajo__p1{
                                font-size: 1.8rem;
                                margin-top: 50px;
                            }
                        }
        
                    }
                }
            }
        }
    }
}